:root {
    --color-primary: hsl(223, 36%, 48%);
    --color-secondary: hsl(223, 33%, 33%);
    --color-contrast: hsl(289, 8%, 24%);
    --color-contrast05: hsl(289, 8%, 24%, 0.5);
    --color-shadow: hsl(0, 0%, 13%);
    --color-text-header: hsl(196, 6%, 88%);
    --color-text: hsl(196, 6%, 66%);

    --size-font: 16px;

    --gap: 16px;

    --width-viewport-max: 1200px;
}