@import './variables';

html,
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

html {
    font-size: var(--size-font);
    color: var(--color-text);
    background-color: var(--color-contrast);
}

html,
body {
    width: 100%;
    height: 100%;
}

.root {
    background-color: var(--color-primary);
    border: 1px solid var(--color-text);
    border-top: none;
    border-bottom: none;
    max-width: var(--width-viewport-max);
    min-height: 100%;
    margin: 0px auto;
    padding: var(--gap) calc(4 * var(--gap));
    box-sizing: border-box;
}

.block {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-text-header);
    border-left: none;
    border-right: none;
    border-radius: var(--gap);
    margin-bottom: var(--gap);
    padding: var(--gap);
    box-sizing: border-box;
    box-shadow: 0px -10px 8px -8px var(--color-shadow),
        0px 10px 8px -8px var(--color-shadow),
        inset -3px 0px 4px -4px var(--color-text-header),
        inset 3px 0px 4px -4px var(--color-text-header);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text-header);
    text-transform: uppercase;
}

h2 {
    font-size: calc(1.5 * 1rem);
    margin-bottom: calc(0.75 *var(--gap));
}

h3 {
    font-size: calc(1.25 * 1rem);
    margin-bottom: calc(0.25 *var(--gap));
}

ul {
    list-style: none;
}

.btn {
    appearance: none;
    color: var(--color-text-header);
    padding: var(--gap);
    border-radius: calc(0.5 * var(--gap));
    background-color: var(--color-primary);
    border: 1px solid var(--color-text-header);
    background-color: var(--color-primary);
    cursor: pointer;

    &:hover {
        outline: 2px solid var(--color-text-header);
        outline-offset: calc(0.25 * var(--gap));
    }

    &:active {
        outline: none;
        box-shadow: inset 0px 2px 4px 1px var(--color-shadow);
        color: var(--color-text);
    }
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 0;

    &__list {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;
        scroll-behavior: smooth;
        overflow: hidden;
        border-radius: inherit;
    }

    &__item {
        width: 100%;
        flex-shrink: 0;
    }

    &__slide {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--color-contrast);
        color: var(--color-text-header);
        border-radius: 50%;
        padding: calc(0.5 * var(--gap));

        &_left {
            left: var(--gap);
        }

        &_right {
            right: var(--gap);
        }

        &:hover {
            box-shadow: inset 0px 0px 6px -1px var(--color-text);
        }
    }
}

.main {
    width: 100%;
}

.pagination {
    display: flex;
    flex-flow: row wrap;
    gap: calc(0.5 * var(--gap));
    width: 100%;
    justify-content: center;
    margin-bottom: calc(1.5 * var(--gap));

    &__btn {
        padding: calc(0.5 * var(--gap));
        outline-width: 1px;
        outline-offset: 1px;
    }
}

.vacancies {
    background-color: var(--color-contrast);

    &__list {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        gap: var(--gap) 0px;
    }
}

.vacancy {
    background-color: var(--color-secondary);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: var(--gap) calc(2 * var(--gap));

    &__salary {
        color: var(--color-text);
        text-decoration: overline;
    }
}

.description {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--color-contrast05);

    &_active {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        background-color: var(--color-secondary);
        max-width: var(--width-viewport-max);
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }

    &__salary {
        text-decoration: underline;
    }

    &__paragraph {
        margin: calc(0.5 * var(--gap)) 0px;
        color: var(--color-text-header);

        & * {
            color: var(--color-text-header);
        }
    }

    &__container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}